
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jaro:opsz@6..72&display=swap');
.circular-text {
  margin-top: 20vh;
  border-radius: 50%;
  width: 300px;
  margin-left: 85vh;
  height: 300px;
  font-weight: bold;
  color: black;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  font-family:"Anton", sans-serif;

}

.circular-text span {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 24px;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}